.filters-container {
    margin: 20px 80px;
    padding: 15px;
    background-color: #323255;
    border-radius: 8px;
    display: flex;
    gap: 10px;
}

.filters-input,
.filters-select {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F3FCFB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    color: #323255;
    outline: none;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.filters-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23777"%3E%3Cpath d="M7 10l5 5 5-5z"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    padding-right: 30px;
}
